[Unit]
Description=Deye & BESEN Integralt Toltovezerlo
After=network-online.target bluetooth.target
Wants=network-online.target

[Service]
Type=simple
User=deyecontroller
WorkingDirectory=__APP_DIR__
ExecStart=__APP_DIR__/.venv/bin/python __APP_DIR__/main.py
Restart=on-failure
RestartSec=5

[Install]
WantedBy=multi-user.target
